<!DOCTYPE html>
<html lang="en">

<head>
    <title>Twitter Feed View</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" href="./css/style.css">
</head>

<body>
    <script src="../controller/fetchUser.js"></script>
    <script src="../controller/fetchTweet.js"></script>
    <script src="../controller/mediaLoader.js"></script>
    <script src="../models/GetTweetsQueryParams.js"></script>

    <div class="tweet-container" id="tweet-container">
        <!-- Tweets will be populated here -->
    </div>

</body>

</html>